<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td> <span class="big"><font color="#333333">web content management<br>
      </font></span><font color="#333333"><br>
      The given system is constructed by principle WCMS of platforms. You in detail
      can familiarize with the detailed information on system and also to receive
      the information on that how to create additional modules to the given system
      on an official site of system.<br>
      <br>
      All system as a whole, excluding component MBuilder is absolutely free-of-charge
      and published for use. <br>
      If you use a commerce version, you get access to the following free-of-charge
      services for you: <br>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Round-the-clock technical support
      of system <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Configuring, carry of system and
      the data connected to it on others of a server <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Development of new modules of system,
      at a discount 50% <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Constant informing on new development
      and their free-of-charge installation <br>
      <br>
      If you want to order the given system, you can: to issue the order for a
      site of system or to contact its author on one of below contact addresses.
      <br>
      We always respect opinion of the user and we shall be glad, if you will
      take part in development of our system for you. For this purpose you can
      send your opinion on system having pressed here or to take part in a forum
      on a site. <br>
      <br>
      Pay attention to that the system was configured according to security rules
      (configuring rules of the system you can find on a site of system). <br>
      It considerably will raise reliability and security of the system. <br>
      <br>
      Follow contact addresses on which you can address on any questions, connected
      with work of system, its adjustment and offers on development of system
      below:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V-mail: 38 (04622) 100-667 <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone: 38 (050) 545-40-06 <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail: backdoor3@ukr.net, _dmitry@ukr.net<br>
      <br>
      Thank for use of system Backdoor. </font></td>
  </tr>
</table>
