<?php
global $config, $lang;
?>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
		<title><? echo "$config[site_title]"; ?></title>
		<link rel=stylesheet href="<? echo $config[template_url] ?>/style.css" type="text/css">
	
	<script LANGUAGE="JavaScript">
	<!-- // Nannette Thacker http://www.shiningstar.net
	function confirmDelete()
	{
	var agree=confirm("<? echo $lang[are_you_sure_you_want_to_delete] ?>");
	if (agree)
		return true ;
	else
		return false ;
	}
	// -->
	</script>
	
	
	</head>

	<body>
		<center>
		
			<table border="0" cellspacing="0" cellpadding="2" width="750">
				<tr>
					<td>
												
						<h2><? echo "$config[site_title]"; ?></h2>

							<hr size="1">
						
						<div align="right" class="small">
							<?
							global $lang;
							if ($admin_privs == "yes" || $editForms == "yes")
								{
								// if the user has either admin or edit forms privs
								echo "$lang[admin_menu_regular_options] | ";
								} // end if
							?><a href="add_listing.php"><? echo "$lang[admin_menu_add_a_listing]"; ?></a> | <a href="edit_my_account.php"><? echo "$lang[admin_menu_edit_my_account]"; ?></a> | <a href="edit_my_listings.php"><? echo "$lang[admin_menu_edit_my_edit_my_listings]"; ?></a> | <a href="logout.php"><? echo "$lang[admin_menu_logout]"; ?></a> | <a href="../index.php"><? echo "$lang[menu_home]" ?></a>
						
						
						<?
						// admin options
						global $editForms, $viewLogs, $admin_privs;
						if ($editForms == "yes")
							{
							// if the user can edit forms
							echo "<div align=\"right\" class=\"small\">$lang[admin_menu_form_editor_options] | <a href=\"user_form_editor.php\">$lang[admin_menu_edit_user_form]</a> | <a href=\"template_editor.php\">$lang[admin_menu_edit_listings_template]</a></div>";
							} // end if
						
						if ($admin_privs == "yes")
							{
							// if the user has admin privs
							echo "<div align=\"right\" class=\"small\">$lang[admin_menu_admin_options] | <a href=\"user_edit.php\">$lang[admin_menu_edit_users]</a> | <a href=\"listings_edit.php\">$lang[admin_menu_edit_listings]</a> | <a href=\"add_user.php\">$lang[user_editor_new]</a>";
							} // end if
						
						if ($admin_privs == "yes" AND $config[moderate_listings] == "yes")
							{
							// if the user has admin privs and moderation is turned on
							echo " | <a href=\"moderation_queue.php\">$lang[admin_listings_moderation_queue]</a>";
							}
						
						if ($viewLogs == "yes")
							{
							echo " | <a href=\"log_view.php\">$lang[log_view_activity_logs]</a>";
							} // end if
						
						
						?>
				
				</div></td></tr>
			</table>
			<p>
			<table width="590" border="0" cellspacing="3" cellpadding="3">
				<tr>
					<td width="590" valign="top">