	<div class="popup pop_peulot  pop_comment" ng-controller="CommentController as commentC">
		<!--<img src="images/box_small.png" class="img_wrap"/>	-->	
		<div class="container_pop comment_div" style="display: block;">
		
			<h2 style="margin-top: 30px;font-size: 150%;" class="ng-binding">הוסף הערה:</h2>
			<textarea class="comment_txt" style='width:80%;margin: 0 auto;height:50px;' value="{{comment}}"></textarea>
  			<input class="mybtn btnblue leftbottom"  type="button" value="הוסף" ng-click="add_comment()">		
			<input class="mybtn btnblue rightbottom" onclick="$( '.wrap' ).click();" type="button" value="ביטול">
			
		</div>
	</div>	
	
	<div class="popup pop_peulot  pop_comment_prod" ng-controller="CommentController as commentC">
		<!--<img src="images/box_small.png" class="img_wrap"/>	-->	
		<div class="container_pop comment_div_prod" style="display: block;" ng-controller="CashProdController  as cash_prd">
		
			<h2 style="margin-top: 30px;font-size: 150%;" class="ng-binding">הוסף הערה:</h2>
			<textarea class="comment_txt_prod" style='width:80%;margin: 0 auto;height:50px;' value=""></textarea>
  			<input class="mybtn btnblue leftbottom"  type="button" value="הוסף" ng-click="add_comment_prod()">		
			<input class="mybtn btnblue rightbottom" onclick="$( '.wrap' ).click();" type="button" value="ביטול">
			
		</div>
	</div>	